* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/beatch1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}

.wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.nav-bar-area {
    width: 100%;
    height: 60px;
    background-color: #000;
    padding: 0;
    margin: 0 auto;
    position: relative;

}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    margin: 0 auto;
    padding: 0;
    width: 750px;
    height: 60px;
}

ul li {
    display: inline;
    float: left;
    padding: 10px 10px 10px 8px;
    margin: 0 3% 0 0;
    color: #fff;
    cursor: pointer;
    line-height: 225%;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    transition: 1s;
}

p:hover {
    background-color: rgba(136, 136, 136, 0.55);
    border-radius: 10px;
}

.menu {
    display: none;
    color: #fff;
    font-weight: bold;
}

#text {
    float: left;
}

#image {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .nav-bar-area {
        height: auto;
        overflow: auto;
    }

    ul {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }

    ul li {
        width: 50%;
        float: left;
        position: relative;
        display: block;
        margin: -1px;
        padding: 10px 0 10px 0;
        text-indent: 25px;
        border-bottom: 1px solid #888888;
        border-right: 1px solid #888888;
    }

    .nav-bar {
        display: block;
    }


}

@media screen and (max-width: 480px) {

    .menu {
        display: block;
        padding: 20px 0 40px 0;
        border-bottom: 1px solid #fff;
    }

    #text {
        margin: 0 0 0 20px;
    }

    #image {
        margin: 0 30px 0 0;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar {
        font-size: 0.8em;
    }
}

/*footer {*/
/*    display: flex;*/
/*    z-index: 100;*/
/*}*/

/*.footer-content {*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background-color: green;*/
/*}*/

