* {
    box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Karla', 'Arial', sans-serif;
}

.hidden {
    display: none;
}

#section3 {
    padding: 30px;
    background-color: #fff;
    max-width: 800px;
    margin: 100px auto;
}

#section3 h1 {
    font-weight: normal;
    color: #444;
    font-size: 64px;
    text-align: center;
}

#contactForm {
    font-family: 'Karla', 'Arial', sans-serif;
}

.form-wrapper .field-list {
    line-height: normal;
}

.form-wrapper .field-list .field {
    position: relative;
    margin: 0 0 24px;
}

.form-wrapper .field-list .fields {
    margin: 0 0 0 -2%;
}

.form-wrapper .field-list .fields .title, .form-wrapper .field-list .fields .description, .form-wrapper .field-list .fields .field, .form-wrapper .field-list .fields .field-error {
    margin-left: 2%;
}

.form-wrapper .field-list .fields .field {
    float: left;
}

.form-wrapper .field-list .fields.name .field {
    width: 48%;
}

.form-wrapper .field-list .field .field-element {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}

.form-wrapper .field-list .field .caption {
    font-size: 12px;
}

fieldset {
    border: none;
}

.form-wrapper .field-list legend {
    display: none;
}

input:focus {
    background-color: #fff !important;
    cursor: auto;
}

.form-button-wrapper {
    text-align: center;
}

.form-button-wrapper input.button {
    background-color: #202020;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    padding: 1em 2.5em;
    transition: all 0.2s ease;
    border-radius: 2px;
}

.form-button-wrapper input.button:hover {
    cursor: pointer;
}

.form-button-wrapper input.button:focus {
    background-color: #202020 !important;
    opacity: .85;
}