* {
    margin: 0;
    padding: 0;
}

.bgimage {
    background: rgba(93, 91, 93, 0.42);
    font-family: 'Exo 2', sans-serif;
    height: 650px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}

.leftmenu {
    width: 20%;
    line-height: 100Px;
    float: left;
}

.leftmenu h4 {
    padding-left: 70px;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    font-family: 'montserrat', sans-serif;;
}

.rightmenu {
    width: 60%;
    height: 100Px;
    float: right;
}

.rightmenu ul {
    margin-left: 200px;
}

.rightmenu ul li {
    display: inline-block;
    font-family: 'montserrat', sans-serif;
    list-style: none;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.rightmenu ul li:hover {
    color: #00ccff;
}

#firstlist {
    color: #00ccff;
}

.text {
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.text h4 {
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}

.text h1 {
    font-size: 62px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    margin: 14px 0;
}

.text h3 {
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}

.btn {
    background-color: rgba(255, 255, 255, 0.164);
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-color: black;
}
