* {
    margin: 0;
    padding: 0;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

/*.gallery {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-content: stretch;*/
/*    align-items: flex-start;*/
/*    justify-content: space-around;*/
/*}*/


ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

input[type="radio"] {
    position: fixed;
    top: 40px;
    left: -9999px;
}

.filters {
    border-radius: 30px;
    text-align: center;
    margin-bottom: 2rem;
}

.filters * {
    display: inline-block;
    margin-top: 70px;
}

.filters label {
    text-align: center;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
    opacity: 0.95;
    background: #f5abb8;
    color: #fff;
}

.filters label:hover {
    opacity: 0.95;
    border-radius: 10px;
    background: #f5627d;
    color: #fff;
}

.targets {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.targets .target {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.targets .target-title {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0.25rem;
    color: #999;
}

.targets .target-title:hover {
    text-decoration: underline;
}

.targets figcaption {
    padding: 0.5rem;
    font-size: 0.75rem;
}

.targets .target-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
}

.targets .target-categories * {
    display: inline-block;
}

.targets .target-categories li {
    margin-bottom: 0.2rem;
}

.targets .target-categories a {
    padding: 0.2rem 0.5rem;
    transition: all 0.1s;
    color: #2d2a2e;
}

.targets .target-categories a:hover {
    background: #f5627d;
    color: #fff;
}

[value="All"]:checked ~ .filters [for="All"],
[value="cat-a"]:checked ~ .filters [for="cat-a"],
[value="cat-b"]:checked ~ .filters [for="cat-b"],
[value="cat-c"]:checked ~ .filters [for="cat-c"],
[value="cat-d"]:checked ~ .filters [for="cat-d"],
[value="cat-e"]:checked ~ .filters [for="cat-e"],
[value="cat-f"]:checked ~ .filters [for="cat-f"] {
    background: #f5627d;
    color: #fff;
}

[value="All"]:checked ~ .targets [data-category] {
    display: block;
}

[value="cat-a"]:checked ~ .targets .target:not([data-category~="cat-a"]),
[value="cat-b"]:checked ~ .targets .target:not([data-category~="cat-b"]),
[value="cat-c"]:checked ~ .targets .target:not([data-category~="cat-c"]),
[value="cat-d"]:checked ~ .targets .target:not([data-category~="cat-d"]),
[value="cat-e"]:checked ~ .targets .target:not([data-category~="cat-e"]),
[value="cat-f"]:checked ~ .targets .target:not([data-category~="cat-f"]) {
    display: none;
}

@media screen and (max-width: 900px) {
    .targets {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }

    .targets {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* cart css */

.d3-card {
    position: relative;
    perspective: 1000px;
    z-index: 3;
}

.d3-card:hover .product-1 {
    transform: rotateY(180deg);
}

.d3-card:hover .under-product {
    transform: rotateY(360deg);
}

.product-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px .5em #d8d8d8;
    transition: 1s;
    backface-visibility: hidden;
}

.under-product {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: center;
    margin: 0;
    padding: 0;
    transition: 1s;
    backface-visibility: hidden;
    font-size: 30px;
}

.under-product {
    transform: rotateY(180deg);
}

.product {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px .5em #d8d8d8;
}

img {
    margin-top: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.content {
    padding-top: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: .8em;*/
}

.card-content {
    position: relative;
    padding-top: 265px;
}

.content h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.content span {
    font-size: 1.15rem;
}

h3 + span {
    margin-top: .5em;
}

.content a {
    color: rgb(69, 67, 67);
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
}

.link a {
    transition: background .2s step-start;
    width: 100%;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    border: 2px solid white;
}

.link a:hover {
    background-color: rgb(0, 0, 0);
}

.content a:hover {
    color: rgb(0, 0, 0);
}


/* search css */

.placeholder {
    margin-left: 100px;
    font-size: 10px;
}

.form {
    margin-top: 90px;
    display: flex;
    margin-left: 24%;
    justify-content: center;
    align-items: center;
    width: 1000px;
    border-radius: 10rem;
    position: absolute;
}

.form__input {
    height: 40px;
    width: 80%;


    background-color: #c7c3c3;

    font-size: 20px;

    border-radius: 20px 0 0 20px;
    border: none;
}

.form__input:focus {
    outline: none;
}


.form__btn {
    height: 38px;
    width: 38px;
    display: inline-block;
    justify-content: center;
    align-items: center;


    background-color: #fff;

    font-size: 20px;

    border-radius: 50%;
    border: none;

    transition: all 0.2s ease-in-out;

    -webkit-box-shadow: 0 0 0 13px rgba(39, 39, 39, 1);
    -moz-box-shadow: 0 0 0 13px rgba(39, 39, 39, 1);
    box-shadow: 0 0 0 13px rgba(39, 39, 39, 1);
}

.form__btn:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 7px rgba(39, 39, 39, 1);
    -moz-box-shadow: 0 0 0 7px rgba(39, 39, 39, 1);
    box-shadow: 0 0 0 7px rgba(39, 39, 39, 1);
}

/*@media screen and (Max-width: 800px) {*/
/*    .container {*/
/*        display: block;*/
/*        max-width: 2000px;*/
/*        margin-left: 300px;*/
/*    }*/
/*}*/