{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'contactstyle.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="nav-bar-area">
            <div class="menu">
                <div id="text">Menu</div>
                <div id="image"><img src="http://www.rcunlocks.com/IMG_0468.PNG"/></div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="/mainpage"><p>Главная страница</p></a></li>
                    <li><a href="/product"><p>Товары</p></a></li>
                    <li>Chill shop</li>
                    <li><a href="/order"><p>Заказы</p></a></li>
                    <li><a href="/contact"><p>Контакты</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
<div id="section3">
    <a id="contact" class="js--wp-3" name="contact"></a>
    <div class="row">
        <div class="form-wrapper">
            <h1 class="contact-title">Контакты</h1>
            <div class="form-inner-wrapper">
                <form id="contactForm">
                    <div class="field-list clear">
                        <div id="name" class="form-item field email required">
                            <label class="title" for="name">Имя <span class="required">*</span></label>
                            <input class="field-element" name="name" x-autocompletetype="name" type="text"
                                   spellcheck="false">
                        </div>

                        <div id="email" class="form-item field email required">
                            <label class="title" for="email">Электронная почта <span class="required">*</span></label>
                            <input class="field-element" name="email" x-autocompletetype="email" type="text"
                                   id="email-field">
                        </div>
                        <div id="textarea" class="form-item field textarea required">
                            <label class="title" for="textarea-field">Сообщение <span class="required">*</span></label>
                            <textarea class="field-element" id="textarea--field" name="message"></textarea>
                        </div>
                        <div id="contactResponse"></div>
                        <div class="form-button-wrapper form-button-wrapper--align-center">
                            <input class="button" type="submit" name="submit" value="Отправить">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>