{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'description.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <div class="wrapper">
        <div class="nav-bar-area">
            <div class="menu">
                <div id="text">Menu</div>
                <div id="image"><img src="http://www.rcunlocks.com/IMG_0468.PNG"/></div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="/mainpage"><p>Главная страница</p></a></li>
                    <li><a href="/product"><p>Товары</p></a></li>
                    <li>Chill shop</li>
                    <li><a href="/order"><p>Заказы</p></a></li>
                    <li><a href="/contact"><p>Контакты</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">

    <div class="card-container">
        <input type="radio" name="colors-btn" id="color-1" checked>
        <input type="radio" name="colors-btn" id="color-2">
        <input type="radio" name="colors-btn" id="color-3">
        <input type="radio" name="colors-btn" id="color-4">
        <div class="shoe-area">

            <div class="logo-div">
                <img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/nike-logo.png?raw=true"
                     alt="">
            </div>
            <div class="floating-div">
                <div class="shoe-1"><img
                        src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/red-nike.png?raw=true"
                        alt="red-nike"></div>
                <div class="shoe-2"><img
                        src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/orange-nike.png?raw=true"
                        alt="orange-nike"></div>
                <div class="shoe-3"><img
                        src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/white.png?raw=true"
                        alt="white-nike"></div>
                <div class="shoe-4"><img
                        src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/black-nike.png?raw=true"
                        alt="black-nike"></div>
            </div>

        </div>
        <div class="text-area">
            <div class="heading-area">
                <h2>Jordan Proto-Lyte</h2>
                <h4>Running Collection</h4>
            </div>

            <div class="paragraph-area">
                LАдрес - 2700 Point Lane, район Highland Park в Чикаго. Именно здесь Майкл
                Джордан в 1991 году купил участок земли площадью 7 акров, который через несколько
                лет стал его поместьем. Площадь 56 тысяч квадратных футов, стена из 40-футовых
                вечнозелёных деревьев, 9 спален, 19 ванных комнат, игровая комната на 20 человек,
                сигарная комната, тренажёрный зал, бассейн, баскетбольная площадка стандартного
                размера, лужайка для гольфа, теннисный корт, бильярдный зал и так далее. На видео
                все прелести особняка с воротами с игровым номером “Его Воздушества” 23.
            </div>

            <div class="color-selection">
                <div class="h5-text"><h5>Доступные Цвета: </h5></div>

                <div class="color-pick-div">
                    <label for="color-1" class="colors color-1"></label>
                    <label for="color-2" class="colors color-2"></label>
                    <label for="color-3" class="colors color-3"></label>
                    <label for="color-4" class="colors color-4"></label>
                </div>
            </div>
            <div class="price-and-buy-btn">
                <h2 class="price-1">$ 854</h2>
                <h2 class="price-2">$ 824</h2>
                <h2 class="price-3">$ 914</h2>
                <h2 class="price-4">$ 884</h2>
                <button href="/order" class="buy-btn"><a href="/order">Купить сейча</a></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>