{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <meta charset="UTF-8">
    <title>Title</title></head>
<body>
<header>
    <div class="wrapper">
        <div class="nav-bar-area">
            <div class="menu">
                <div id="text">Menu</div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a class="nav-bar-text" href="#"><p>Главная страница</p></a></li>
                    <li><a class="nav-bar-text" href="/product"><p>Товары</p></a></li>
                    <li>Chill shop</li>
                    <li><a class="nav-bar-text" href="/order"><p>Заказы</p></a></li>
                    <li><a class="nav-bar-text" href="/contact"><p>Контакты</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="bgimage">
    <div class="text"><h4>СКОРОСТЬ * УДОБСТВО * ПРОСТОТА</h4>
        <h1> ПОКУПАЙ & ПРОДАВАЙ </h1>
        <h3> ТЫ МОЖЕШЬ ВЫБРАТЬ ВСЁ ЧТО ПРИДЁТСЯ ПО ДУШЕ! </h3>
        <h1>Интернет-магазин Chill Shop</h1>
        <button class="btn"><a class="text-1" href="/product"> Товары</a></button>
        <button class="btn"><a class="text-1" href="/contact"> Контакты</a></button>
    </div>
</div>
</body>
</html>
