{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'productstyle.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <div class="wrapper">
        <div class="nav-bar-area">
            <div class="menu">
                <div id="text">Menu</div>
                <div id="image"><img src="http://www.rcunlocks.com/IMG_0468.PNG"/></div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="/mainpage"><p>Главная страница</p></a></li>
                    <li><a href="/product"><p>Товары</p></a></li>
                    <li>Chill shop</li>
                    <li><a href="/order"><p>Заказы</p></a></li>
                    <li><a href="/contact"><p>Контакты</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="gallery">
    <form class="form">
        <input
                class="form__input"
                type="text"
                placeholder="   Поиск"
                autocomplete="off"
                data-form-input
        />
        <button class="form__btn" data-form-button>
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </form>
    </div>
    <div class="tile"></div>
    </main>
    <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <div class="container">
        <input type="radio" id="All" name="categories" value="All" checked="">
        <input type="radio" id="cat-a" name="categories" value="cat-a">
        <input type="radio" id="cat-b" name="categories" value="cat-b">
        <input type="radio" id="cat-c" name="categories" value="cat-c">
        <input type="radio" id="cat-d" name="categories" value="cat-d">
        <input type="radio" id="cat-e" name="categories" value="cat-e">
        <input type="radio" id="cat-f" name="categories" value="cat-f">
        <ol class="filters">
            <li><label for="All">All</label></li>
            <li><label for="cat-a">Техника</label></li>
            <li><label for="cat-b">Мебель</label></li>
            <li><label for="cat-c">Акссесуары</label></li>
            <li><label for="cat-d">Бытовая техника</label></li>
            <li><label for="cat-e">Одежда</label></li>
            <li><label for="cat-f">Косметика</label></li>
        </ol>
        <ol class="targets">
            <li class="target" data-category="cat-b">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://avatars.mds.yandex.net/i?id=3d17792e2ab89ab980cfdd5dc0561a1ec7e236b3-6505870-images-thumbs&n=13"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Гамак</a></h3>
                                <span><a href="#">500$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="#">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="target" data-category="cat-e cat-c">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://ae04.alicdn.com/kf/Hd652a1b5ec0c463aa67ba462b2ba5e06b.jpg"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Очки</a></h3>
                                <span><a href="#">40$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="#">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="target" data-category="cat-a ">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://damsovet.net/wp-content/uploads/2020/09/11Xiaomi-Mi-Note-10-Lite-1.jpg"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Смартфон</a></h3>
                                <span><a href="#">1700$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="#">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="target" data-category="cat-e ">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://ae04.alicdn.com/kf/U4efeb20090684b72ab15d66cfd230566z/3D-among-Us.jpg_640x640.jpg"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Кофта</a></h3>
                                <span><a href="#">65$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="/description">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="target" data-category="cat-e ">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://avatars.mds.yandex.net/i?id=3ec2c25f7ff7abc35ffa2a6b6aecdbca-5354237-images-thumbs&n=13"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Кросовки</a></h3>
                                <span><a href="#">854$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="/description">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="target" data-category="cat-e cat-c">
                <div class="products">
                    <div class="product">
                        <div class="d3-card">
                            <div class="product-1">
                                <div class="image">
                                    <img src="https://ae04.alicdn.com/kf/HTB1HdBlLFXXXXc5XpXXq6xXFXXX6/400.jpg"
                                         width="250px" height="250px" alt="">
                                </div>
                            </div>
                            <div class="under-product">
                                <div class="under-product-text">Самое лучшее описание</div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3><a href="#">Резиновый браслет</a></h3>
                                <span><a href="#">3$</a></span>
                            </div>
                            <div class="link">
                                <a href="#"><strong> Купить сейчас</strong></a>
                                <a href="#">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


        </ol>
    </div>
</section>

</body>
</html>